{:kind :index
 :title "Research Topic"
 :subject "Code-Data-Separation"
 :developmentPath "../../../Development/high/Code-Data-Separation"
 :entries ["591912060615_answer_code-data-separation-protocol.md"]}
