{:kind :index
 :title "Saṃskāra Implementation Brainstorm"
 :subject "Samskara-Implementation"
 :developmentPath "../../../Development/high/Samskara-Implementation"
 :entries ["591912111500_report_ast-based-references-mvp.md"]}
