{:kind :index
 :title "Research Topic"
 :subject "AST-Based-Refactoring"
 :developmentPath "../../../Development/high/AST-Based-Refactoring"
 :entries ["591912080900_answer_ast-cst-programmatic-refactoring-strategy.md"]}