{:kind :index
 :title "Research Topic"
 :subject "Mentci-Project-Survey"
 :developmentPath "../../../Development/high/Mentci-Project-Survey"
 :entries ["591912074200_answer_project-survey-and-author-suggestions.md" "591912080000_answer_project-survey-and-author-suggestions-v2.md" "591912085001_answer_stt-transcription-and-author-alignment.md" "591912085700_answer_stt-evaluation-and-agent-hooks.md"]}