{:kind :index
 :title "Research Topic"
 :subject "Mentci-Project-Survey"
 :developmentPath "../../../Development/high/Mentci-Project-Survey"
 :entries ["591912074200_answer_project-survey-and-author-suggestions.md" "591912080000_answer_project-survey-and-author-suggestions-v2.md"]}
