{:kind :index
 :title "Research Topic"
 :subject "Actor-Based-Scripts-Migration"
 :developmentPath "Development/high/Actor-Based-Scripts-Migration"
 :entries ["Research/high/Actor-Based-Scripts-Migration/591912060130_answer_actor-library-selection-and-script-migration.md" "Research/high/Actor-Based-Scripts-Migration/591912060138_answer_actor-messaging-and-symbolic-flow.md"]}
