{:kind :index
 :title "Research Topic"
 :subject "Workspace-Pwd-History-Purge-And-Jj-Config-Migration"
 :developmentPath "../../../Development/high/Workspace-Pwd-History-Purge-And-Jj-Config-Migration"
 :entries ["591912044804_answer_large-commit-audit.md" "591912044812_answer_inputs-history-purge-strategy.md" "591912045320_answer_workspace-ancient-copy-root-cause.md" "591912045613_answer_strategy-for-workspace-pwd-history-purge-and-jj-config-migration.md" "591912045619_answer_jj-all-git-ops-feasibility-and-git-unavoidable-exceptions.md" "591912045640_answer_unify-duplicate-strategies-and-purge-workspace-pwd-history.md"]}
