{:whitelist
 #{"criomos"
   "webpublish"
   "attractor"
   "attractor-docs"
   "aski"
   "goldragon"
   "kibord"
   "bookofsol"
   "lojix"
   "maisiliym"
   "mentci-ai"
   "mkZolaWebsite"
   "opencode"
   "seahawk"
   "skrips"}}
