{:kind :index
 :title "Research Topic"
 :subject "Superpowers-Assimilation"
 :developmentPath "../../../Development/high/Superpowers-Assimilation"
 :entries ["591912082359_research_superpowers_assimilation.md"]}
