{:kind :index
 :title "Research Topic"
 :subject "Zodiac-Strategy-Division"
 :developmentPath "../../../Development/low/Zodiac-Strategy-Division"
 :entries ["591912042315_answer_extend-zodiac-mirror-strategy-reports.md" "591912050417_strategy_zodiac-strategy-division.md" "591912050434_answer_add-bookofsol-and-library-astrology.md" "591912050513_answer_review-zodiac-category-conversion.md" "591912050515_answer_draft-bookofsol-correspondence-in-library-astrology.md"]}
