{:kind :index
 :title "Subject Topic"
 :entries [
  "Research/low/Universal-Program-Pack/591912052448_answer_rd-synthesis-universal-program-pack.md"
 ]
 :sourceReadme "Research/low/Universal-Program-Pack/README.md"}
