{:kind :index
 :title "Research Topic"
 :subject "Subject-Consolidation"
 :developmentPath "Development/medium/Subject-Consolidation"
 :entries ["Research/medium/Subject-Consolidation/591912045707_answer_subject-consolidation-strategy-for-duplicate-intent-topics.md" "Research/medium/Subject-Consolidation/591912045715_answer_implemented-subject-consolidation-merge-map.md"]}
