{:kind :index
 :title "Research Topic"
 :subject "Strategy-Development"
 :developmentPath "../../../Development/high/Strategy-Development"
 :entries ["591912050828_answer_review-goals-and-strategies.md" "591912050858_answer_create-and-implement-high-priority-remediation-strategies.md" "591912050948_answer_persist-context-to-restart-strategies-reports.md"]}
