{:kind :index
 :title "Research Topic"
 :subject "Mentci-Launch"
 :developmentPath "../../../Development/high/Mentci-Launch"
 :entries ["591912066056_answer_strategy-mentci-launch-systemd-foot-capnp-init.md" "591912070235_answer_implement-mentci-launch-component-and-tests.md" "591912085900_answer_test-driven-devshell-transition.md"]}
