{:kind :index
 :title "Research Topic"
 :subject "Mentci-Launch"
 :developmentPath "../../../Development/high/Mentci-Launch"
 :entries ["591912066056_answer_strategy-mentci-launch-systemd-foot-capnp-init.md"]}
