{:kind :index
 :title "Research Topic"
 :subject "Intelligence-Portability"
 :developmentPath "../../../Development/high/Intelligence-Portability"
 :entries ["591912091750_design_intelligence_portability.md"]}
