{:kind :index
 :title "Research Topic"
 :subject "Component-Atomic-Subtrees"
 :developmentPath "../../../Development/high/Component-Atomic-Subtrees"
 :entries ["591912095500_design_component_atomic_subtrees.md"]}
