{:allowed-domain-dirs ["Sources" "Components" "Outputs" "Research" "Development" "Core" "Library"]
 :allowed-runtime-dirs [".git" ".jj" ".direnv" "target" ".mentci" ".gemini" "tmp"]
 :allowed-top-files ["flake.nix" "flake.lock" ".gitignore" ".envrc" "AGENTS.md" "README.md" ".attrs.json" ".opencode.edn" "Cargo.toml" "Cargo.lock" "result"]}
