{:kind :index
 :title "Research Topic"
 :subject "Aski-Sema-Lojix-Assimilation"
 :developmentPath "../../../Development/high/Aski-Sema-Lojix-Assimilation"
 :entries ["591912056014_answer_aski-sema-lojix-foundations.md"]}
